*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
     background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
    border-radius: 16px;
    width: 350px;
height: 222px;


}

.card__icon{
 margin-top: 24px;
    margin-left: 24px;
}
.head{
    font-size: 16px;
    margin-top: 35px;
    margin-left: 16px;
    margin-bottom: 22px;
    color: #16192C;
}
.card__text{
    font-size: 14px;
    color: #425466;
    margin-top: 24px;
    margin-bottom: 25px;
    margin-left: 24px;
}
.web{
    text-decoration: none;
  margin-left: 24px;
}
.container-head{
text-align: center;
display: flex;



}
.web:hover{
    color: antiquewhite;
}